//Colors
$color-primary:dodgerblue;
$color-primary-light: aqua;
$color-primary-dark:blue;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-gray-light-1:#f7f7f7;
$color-gray-light-2:#eee;

$color-dark-gray:#777;
$color-white:#fff;
$color-black:#000;

//Font
$default-font-size:1rem;

//Grid

$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:4rem;